.frameSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .frame {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 81%;
    background: white;
  }
  
  .frameContent {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .frameContent.theyalow {
    height: 1850px;
  }
  
  .frameContent.rdp {
    height: 10126px;
  }
  
  .frameControl {
    position: fixed;
    top: 70%;
    right: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 150px;
  }
  
  .changeViewBtn, 
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 99%;
    height: 40px;
    border: 3px solid darkviolet;
    border-radius: 10px;
    background: gold;
    color: white;
  }
  
  .btn:hover {
    cursor: pointer;
    border: 3px solid gold;
    background: darkviolet;
    color: black;
  }
  
  .frameControlText {
    font-weight: 700;
  }

  .backLink {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .backLink:hover {
    color: black;
    text-decoration: none;
  }

  .controlBtnText {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
